{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - 게시판 본문보기
{% endblock %}

{% block style %}
<style>
    table { width: 550px; margin: 0 auto; }
    tr { heigth: 40px; }
    th { width: 100px; }
    tr:nth-child(4) { vertical-align: top; }
    tr { height: 32px }
    #listbtn { margin-left: 100px; }
</style>
{% endblock %}

{% block main %}
    <main>
        <h2>갤러리 본문글</h2>
        <table>

            <tr><th>제목</th><td>{{ gallery.title }}</td></tr>
            <tr><th>작성자</th><td>{{ gallery.userid }}</td></tr>
            <tr><th>작성일</th><td>{{ gallery.regdate }}</td></tr>
            <tr><th>본문</th><td>{{ gallery.contents }}
                {% for ga in gallery.attachs %}
                <div><img src="http://127.0.0.1/cdn/img/{{ ga.fname }}"
                class=img-fluid></div>
                {% endfor %}
            </td><tr>
            <td colspan="2">
                <button type="button" id="listbtn" onclick="location.href='/gallery/list/1'">리스트로</button>
                <button type="button" id="mdfybtn" onclick="location.href='/gallery/modify'">수정하기</button>
                <button type="button" id="rmvbtn">삭제하기</button>
            </td></tr>
        </table>
    </main>
{% endblock %}