{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - 회원가입
{% endblock %}

{% block main %}
<main>
          <h2>회원가입</h2>
          <div class="d-flex justify-content-center align-items-center" style="height: 65vh">
        <form name="joinfrm"  id="join" class="col-5">
            <div class="row my-2"><label for="userid" class="col-form-label col-4 text-end">아이디</label>
                <div class="col-7">
                <input type="text" name="userid" id="userid" required class="form-control"
                        minlength="6" maxlength="16"></div></div>
            <div class="row my-2"><label for="passwd" class="col-form-label col-4 text-end">비밀번호</label>
                <div class="col-7">
                <input type="password" name="passwd" id="passwd" required class="form-control"
                     minlength="6" maxlength="16"></div></div>
            <div class="row my-2"><label for="repasswd" class="col-form-label col-4 text-end">비밀번호 확인</label>
                <div class="col-7">
                <input type="password" name="repasswd" id="repasswd" required class="form-control"
                     minlength="6" maxlength="16"></div></div>
            <div class="row my-2"><label for="name" class="col-form-label col-4 text-end">이름</label>
                <div class="col-7">
                <input type="text" name="name" id="name" required class="form-control"></div></div>
            <div class="row my-2"><label for="email" class="col-form-label col-4 text-end">이메일</label>
                <div class="col-7">
                <input type="text" name="email" id="email" required class="form-control"></div></div>
            <div class="row my-2"><label class="col-4"></label>
                <div class="col-7">
                <button type="button" id="joinbtn" class="btn btn-primary">입력완료</button>
                <button type="reset" id="rstbtn" class="btn btn-danger">다시입력</button></div></div>
        </form>
          </div>
      </main>
{% endblock %}

{% block script %}
<script>
    // 회원정보를 입력받아서 폼 유효성 검사 수행 후
    // 입력한 정보를 json 형식으로 생성한 후 서버로 전송
    let joinbtn = document.querySelector('#joinbtn');
    let joinfrm = document.joinfrm;

    joinbtn.addEventListener('click', () => {
        // 폼에 입력된 회원 정보를 초기화함
        const formData = new FormData(joinfrm);
        console.log(formData);

        // 서버로 보내기 위해 폼데이터를 JSON객체로 변환
        let jsondata = {};
        formData.forEach((val, key) => {
            jsondata[key] = val;
        });

        console.log(jsondata);

        // ajax를 이용해서 서버로 json 데이터 전송하고, 결과 받음
        fetch('/member/join', {
            method: 'POST',        // 데이터 전송방식
            headers: {             // 전송할 데이터 종류
                'Accept': 'application/json',
                'Content-Type': 'appplication/json'
            },
            body: JSON.stringify(jsondata)  // 전송할 데이터
                                            // 문자열을 json으로 변환
        })
    });
</script>
{% endblock %}

