{% extends 'include/base.html' %}

{% block title %}
세미프로젝트 - 회원정보
{% endblock %}

{% block main %}
    <main>
        <h2>회원정보</h2>
        <div class="d-flex justify-content-center align-items-center" style="height: 65vh">
          <table class="table w-25 table-bordered table-striped">
            <tr><th>아이디</th><td>abc123</td></tr>
            <tr><th>이름</th><td>으하하하</td></tr>
            <tr><th>이메일</th><td>abc123@naver.com</td></tr>
            <tr><th>가입일</th><td>2024-07-30 14:31:00</td></tr>
          </table>
        </div>
    </main>
{% endblock %}
