<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>세미프로젝트</title>
  <link rel="stylesheet" href="/static/css/project.css">
  <style>
      table { border: 1px solid black; margin: 120px auto;
          border-collapse: collapse; }

      th, td { border: 1px solid black; padding: 5px 8px; }


  </style>
</head>
<body>
  <div id="wrap">
    <header><h1>세미프로젝트 v1</h1></header>
    <nav><ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/member/join">회원가입</a></li>
      <li><a href="/member/login">로그인</a></li>
      <li><a href="/board/list">게시판</a></li>
      <li><a href="/member/myinfo">회원정보</a></li>
    </ul>
    <hr>
    </nav>
    <main>
        <h2>회원정보</h2>
        <div id="if">
          <table id="info">
            <tr><th>아이디</th><td>abc123</td></tr>
            <tr><th>이름</th><td>으하하하</td></tr>
            <tr><th>이메일</th><td>abc123@naver.com</td></tr>
            <tr><th>가입일</th><td>2024-07-30 14:31:00</td></tr>
          </table>
        </div>
    </main>
    <footer>
      <hr>
      <p id="ft">copyright &copy; 2024. yoonsun. All Rights Reserved</p>
    </footer>
  </div>
</body>
</html>